body {
    background-image: url(/19-02/imatges/bg.gif);
}

.contenedora {
    width: 965px;
    margin: auto;
    border-radius: 15px;
    background: white;
}

div {
    display: block;
}

.menu {
    padding: 0;
    float: right;
}



h1 {
    text-align: center;
}

.row {
    text-align: center;
}

h2 {
    text-align: center;
}

.columna {
    width: 265px;
    display: inline-block;
    vertical-align: top;
    text-align: justify;
    padding: 20px;
}