div {
    background: pink;
    width: 300px;
    height: 300px;
    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: linear;
}

div:hover {
    width: 600px;
}